.slideshow {

}

.fullscreen:link, .fullscreen:hover, .fullscreen:visited {
  color: #666;
}

.fullscreen {
  position: fixed;
  z-index: 1000;
  top: 100%;
  right: 1.75em;
  height: 2em;
  margin-top: -1.5em;
}

body:-webkit-full-screen .fullscreen{
  display: none;
}

body:-moz-full-screen .fullscreen {
  display: none;
}

body:-ms-fullscreen .fullscreen {
  display: none;
}
