.slideEditor{
  height: 97vh;
}

.textArea{
  position: relative;
  box-sizing: border-box;
  padding: 1em;
  font-size: 1em;
  width: 100%;
  height: 85vh;
}

.doneButton, .doneButton:visited, .deleteButton, .deleteButton:visited  {
  position: fixed;
  bottom: 7vh;
  left: 3vw;
  color: #666;
}

.deleteButton {
  margin-left: 2em;
}
