.slideEditor{

}

.textArea{
  padding: 0.5em;
  font-size: 1em;
  width: 100%;
  height: 550px;
}

.doneButton, .doneButton:visited, .deleteButton, .deleteButton:visited  {
  color: #666;
}

.doneButton, .deleteButton {
  margin-right: 0.3em;
}
