.slides{

}

.nav{
  position: fixed;
  top: 100%;
  left: 0;
  height: 2em;
  margin-top: -2em;
  padding: 0.25em;
  width: 100%;
  border-top: 1px solid #DDD;
  background-color: rgba(200,200,200,0.8);
  text-align: center;
}

.slidenumber{
  height: 1em;
  vertical-align: middle;
  font-size: 50%;
  margin-right: 1.5em;
  color: #000;
}

.active{
  font-size: 75%;
}
