@import url('./css/font-awesome.min.css');

.app{
  font-family: 'Helvetica neue', helvetica, arial, sans-serif;
  color: #333333;
  background-color: #FFFFFF;
  font-size: 1.5em;
  padding: 1.5em;
}

a:link{
  text-decoration: none;
  color: #000;
}

a:visited{
  color: #000;
}

body, textarea{
  margin: 0;
}
